.carousel-container {
  width: 100%;
  overflow-x: auto; /* Asegúrate de que el overflow sea visible */
  padding-bottom: 16px;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 16px; /* Separación entre tarjetas */
  scroll-behavior: smooth;
  padding-bottom: 16px; /* Espacio para la barra de scroll */
}

.carousel::-webkit-scrollbar {
  height: 8px; /* Altura de la barra de desplazamiento */
}

.carousel::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Color de la barra de desplazamiento */
  border-radius: 4px; /* Esquinas redondeadas */
}

.carousel::-webkit-scrollbar-track {
  background: rgba(
    255,
    255,
    255,
    0.1
  ); /* Color de fondo de la pista de desplazamiento */
}

.featured-card {
  width: 250px; /* Tamaño fijo de cada tarjeta */
  flex: none; /* Evita que las tarjetas se redimensionen */
  scroll-snap-align: center; /* Alineación de desplazamiento */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.snap-x {
  scroll-snap-type: x mandatory;
}

.snap-center {
  scroll-snap-align: center;
}
